<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout noConsoleNoAnsi="true"
                           pattern="%blue{%d{HH:mm:ss}} %style{%highlight{[%thread/%level]}{FATAL=red, ERROR=bright red, WARN=bright yellow, INFO=normal, DEBUG=bright white, TRACE=bright white}} %style{%highlight{%minecraftFormatting{%msg}}{FATAL=red, ERROR=bright red, WARN=bright yellow, INFO=normal, DEBUG=bright white, TRACE=bright white}}%n"/>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/server.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="File-Plugin" fileName="logs/server.log"
                                 filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%c{1}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>